# Nivel 1

## Ejercicio 1

### *Coge un conjunto de datos de tema deportivo que te guste y selecciona un atributo del conjunto de datos. Calcula la moda, la mediana, la desviacion estandard, y la mediana aritmetica*

In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
marathon_df = pd.read_csv('Dataset-Boston-2019.csv')
marathon_df

,Rank_Tot,Age,Gender,Country,Result_hr,Result_sec,Rank_Gender,Country_code
0,1,30,M,Kenya,2:07:57,7677,1,KEN
1,2,29,M,Ethiopia,2:07:59,7679,2,ETH
2,3,34,M,Kenya,2:08:07,7687,3,KEN
3,4,32,M,Kenya,2:08:54,7734,4,KEN
4,5,26,M,Kenya,2:08:55,7735,5,KEN
...,...,...,...,...,...,...,...,...
26646,26640,44,F,United States,6:21:19,22879,11977,USA
26647,26641,50,F,United States,6:22:27,22947,11978,USA
26648,26648,32,F,United States,6:35:50,23750,11979,USA
26649,26650,55,F,United States,6:53:38,24818,11980,USA
26650,26652,46,F,United States,6:59:57,25197,11981,USA

In [3]:
Age_df = marathon_df['Age']
Age_df

0        30
1        29
2        34
3        32
4        26
         ..
26646    44
26647    50
26648    32
26649    55
26650    46
Name: Age, Length: 26651, dtype: int64

#### *Moda*

In [4]:
# funcion
def mode(dataset):
    frequency = {}

    for value in dataset:
        frequency[value] = frequency.get(value, 0) + 1

    most_frequent = max(frequency.values())

    modes = [key for key, value in frequency.items()
                      if value == most_frequent]

    return mode

In [5]:
print(mode(Age_df))

<function mode at 0x11b2dbd30>

In [6]:
# modulo
from statistics import mode

print(mode(Age_df))

45

#### *Mediana*

In [7]:
# funcion
def median(dataset):
    data = sorted(dataset)
    index = len(dataset) // 2
    
    # si el dataset es impar  
    if len(dataset) % 2 != 0:
        return data[index]
    
    # si el dataset es par
    return (dataset[index - 1] + dataset[index]) / 2

In [8]:
print(median(Age_df))

43

In [9]:
# modulo
from statistics import median

print(median(Age_df))

43

#### *Desviacion estandard*

In [10]:
# funcion 
def st_dev(dataset):
    mean = sum(dataset) / len(dataset)
    var = sum((l-mean)**2 for l in dataset) / len(dataset)
    st_dev = math.sqrt(var)
    
    return st_dev

In [11]:
print(st_dev(Age_df))

11.537306695601352

In [12]:
# modulo
import statistics

print(statistics.pstdev(Age_df))

11.537306695601412

#### *Media aritmetica*

In [13]:
# funcion
def mean(dataset):
    return sum(dataset) / len(dataset)

In [14]:
print(mean(Age_df))

42.79989493827624

In [15]:
# modulo
from statistics import mean

print(mean(Age_df))

42.79989493827624

## Ejercicio 2

### *Continuando con los datos de tema deportivo, selecciona dos atributos y calcular su correlación*